/* you are not admin PAGE */
:root {
  --card-bg: #454545;
  --card-radius: 20px;
  --gap: 22px;
  --text-white: #ffffff;
  --muted: #9a9a9a;
  --accent: #e5002b;
  --container-max: 1100px;
  --image-w: 360px;
  --price-w: 260px;
  --button-w: 260px;
}

.alert-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text h1 {
  color: var(--muted);
  font-size: clamp(12px, 10vw, 60px);
}

.text p {
  color: var(--accent);
  font-size: clamp(12px, 10vw, 23px);
  text-shadow: rgba(255, 0, 0, 0.459) 0px 0px 10px;
}

.home-btn {
  background-color: transparent;
  color: white;
  font-family: yekan, sans-serif;
  display: inline-block;
  margin: 12px auto 0;
  text-align: center;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #e5002b;
  transition: background-color 0.25s ease, color 0.25s ease,
    transform 0.12s ease;
  white-space: nowrap;
  box-shadow: 0 0 12px rgba(229, 0, 42, 0.514);
  cursor: pointer;
  font-size: clamp(12px, 10vw, 20px);
}
.home-btn:hover,
.home-btn:focus {
  background-color: #e60000;
  color: #fff;
  transform: translateY(-3px);
  outline: none;
}
