body {
  margin: 0;
  background-color: #2b2b2b;
  font-family: yekan, sans-serif;
}
@font-face {
  font-family: yekan;
  src: url(../font/Qs_Iranyekan\ medium.ttf);
}

@font-face {
  font-family: yekan-thin;
  src: url(../font/Qs_Iranyekan\ thin.ttf);
}
