:root {
  --card-bg: #454545;
  --card-radius: 20px;
  --gap: 22px;
  --text-white: #ffffff;
  --muted: #9a9a9a;
  --accent: #e5002b;
  --container-max: 1100px;
  --image-w: 360px;
  --price-w: 260px;
  --button-w: 260px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Yekan", system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 36px 18px;
}

.post-container {
  width: 100%;
  max-width: var(--container-max);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.post-section {
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.post-title {
  color: var(--text-white);
  font-size: 22px;
}

.post-meta {
  display: flex;
  gap: 26px;
  align-items: center;
  color: var(--muted);
  font-size: 16px;
  flex-wrap: wrap;
  padding: 0 0px;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.meta-item i {
  color: #dbdbdb;
}

.meta-item span {
  color: #bebebe;
}

.post-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 16px;
}

.content-of-post {
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  padding: 26px;
}

.tabs-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  min-width: 120px;
  padding: 12px 24px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background-color: var(--text-white);
  color: var(--a);
  font-family: "Yekan", system-ui, sans-serif;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.tab-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tab-btn.active {
  background-color: var(--text-white);
  color: var(--card-bg);
}

.tab-content p {
  color: var(--text-white);
}

.line {
  border: 1px dashed var(--card-bg);
}